* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: sticky;
    top: 0px;
    padding-left: 20px;
    align-items: center;
    z-index: 1;

}

.logo {
    height: 50px;
    width: auto;    
}

.navbar a {
    padding: 10px;
}

.mission {
    background-image: url('images/img-mission-background.jpg');
    background-size: cover;
    height: 90vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.mission-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.mission-title h2 {
    margin-bottom: 15px;
}

.title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 40px;
}

.title2 h2 {
    font-size: 1.5rem ;

}
.TOMing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px ;
    width: 350px;
    margin: 20px;
   
}

.TOMing img {
    height: 250px;
    width: 350px;
}
.TOM {
    display: flex;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin: 25px;
    
}

.TOM .TOMing a {
    text-decoration: none;
    margin-top: 15px;
}

.location {
    background-image: url('images/img-locations-background.jpg');
    background-size: cover;
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 95%;
    margin-left: 35px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idiot {
    background-color: transparent;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    margin-top: 150px;
    
}

.kys {
    width: 70%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.boxes1 {
   background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 300px;
   
}

.boxes1 p {
    margin-top: 20px;

}


.boxes2 {
    background-color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;
     width: 300px;
    
 }
 
 .boxes2 p {
     margin-top: 20px;
 
 }

 .boxes3 {
    background-color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;
     width: 300px;
    
 }
 
 .boxes3 p {
     margin-top: 20px;
 
 }

 .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }
 .contact h5 {
    margin: 20px;
 }

 .contact h2 {
    margin-bottom: 20px;
    margin: 20px;
 }
 